.container{
	text-align: center;
}
h1{
  
   color: red;
  
   


}


input[type="text"]{
   
    background-color: aqua;
    color: black;
    border:solid black 2px;
    padding: 13px;
    border-radius: 15px;
    font-size: 25px;
   
}
input[type="button"]
{
background-color: black;
color: white;
border: solid black 2px;

width: 104px;
	height: 60px;
border-radius: 15px;
font-size: 25px;
}

.calculator{

    background-color: hotpink;
    padding: 10px;
    border-radius: 23px;
    display: inline-block;

}